* {
    text-align: center;
}

h1, h2 {
    /* color: white; */
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: Georgia;
    font-size: 15px;
    text-align: center;
}

p, span {
    font-family: Georgia;
    font-size: 15px;
}
#connections {
    background-color: lightcoral;
    /* width: 20%; */
}


#oscillator {
    background-color: lavender;
    /* width: 10%; */
}
#oscfreq {
    background-color: aquamarine;
    width:70%;
}
#oscphase {
    background-color: azure;
    width: 70%;
}
#filterfreq {
    background-color: skyblue;
    /* width: 8%; */
    /* position: relative; */
    /* bottom: 130px;
    left: 200px; */
}
#ppfeedback {
    background-color: lightgoldenrodyellow;
 
}
#ppdelaytime {
    background-color: bisque;

}
#ppwet {
    background-color: snow;
}
#pingpong {
    background-color: antiquewhite;
   
   
    /* position: relative; */
     /* width: 13%; */
     /* bottom: 100px; */
}
#lfo{
    background-color: lavenderblush;
}
#Rememberfootnote {
   
    font-size: 11px;
}
#lfofoot {
    font-size: 12px;
}
.grid-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    
    /* border-style: solid; */
    /* grid-gap: 10px; */
    grid-template-columns: auto auto auto;
    /* background-color: lightblue; */
    width:800px;
}
.oscknobgrid {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* margin-left: auto;
    margin-right: auto; */
}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, .8); */
    font-size: 30px;
    border-style: solid;
    padding: 5px;
    box-sizing: border-box;
    /* height: 370px; */
    border-radius: 10px;
  }
.grid-item1{
    grid-column-start: 1;
    grid-column-end: 6;
}
.grid-item2{
    grid-column-start: 6;
    grid-column-end: 10;
}

.grid-item4{
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid-item5{
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-item6{
    grid-column-start: 3;
    grid-column-end: 6;
}
.grid-item7{
    grid-column-start: 6;
    grid-column-end: 10;
}

.oscknob1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.oscknob2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#lfofrequency {
    background-color: lightgrey
}
#lfoamplitude {
    background-color: floralwhite;
}

#instructions {
    background-color: lightskyblue;
    border-radius: 10px;
    border-style: solid;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: left;

}
#bitcrusher {
    background-color:thistle;
    /* border-radius: 10px;
    border-style: solid; */
}
#bitcrusherselector {
    background-color:thistle;
    border-radius: 10px;
    border-style: solid;
}

#pingpongselector {
    background-color:antiquewhite;
    border-radius: 10px;
    border-style: solid;
}
#lfoselector {
    background-color: lavenderblush;
    border-radius: 10px;
    border-style: solid;
}
.Screen {
    background-color: seashell;
    /* margin-left: auto;
    margin-right: auto; */
    width: 400px;
    border-style: solid;
    border-radius: 10px;
    height: 400px;
    grid-column-start: 4;
    grid-column-end: 7;

}
.selectorgrid {
    grid-column-start: 7;
    grid-column-end: 10;
}